extends ../layout

block content
  article.event-detail
    h2= event.title

    section.time-info
      p
        strong Begint op:
        |  #{new Date(event.date_start).toLocaleString('nl-BE')}
      p
        strong Eindigt op:
        |  #{new Date(event.date_end).toLocaleString('nl-BE')}

    section.content
      if event.description
        p.description= event.description

      p
        strong Adres:
        |  #{event.address}

      if event.url
        p Site:
          a(href=event.url target="_blank") #{event.url}

    if event.location && event.location.coordinates
      section.geo
        h3 Locatiegegevens
        p Coordinaten: [#{event.location.coordinates[0]}, #{event.location.coordinates[1]}]

      section.related-resources
        h3 Ontdek meer
        ul
          li: a(href=`/api/sun/${event.location.coordinates[1]}/${event.location.coordinates[0]}/now`) Bekijk de zonintensiteit hier
          li: a(href=`/api/search/nearby/${event.location.coordinates[1]}/${event.location.coordinates[0]}/1`) In de buurt

  if links && links.length
    hr
    nav
      ul
        each link in links
          li: a(href=link.href)= link.rel
