doctype html
html
  head
    title Batch Sun Results
    link(rel="stylesheet", href="/style.css")
  body
    h1 Batch Berekening Resultaten
    p Aantal locaties berekend: #{count}

    each res in results
      .sun-card
        h3 Locatie: #{res.latitude}, #{res.longitude}
        p Tijd: #{new Date(res.dateTime).toLocaleString('nl-BE')}
        p Intensiteit: #{res.intensity}%
        p Azimuth: #{res.position.azimuthDegrees.toFixed(2)}°
    
    footer
      p: a(href="/api/sun") Nieuwe berekening