extends ../layout

block content
  h2= terras.name

  if terras.description
    p.description= terras.description

  section.info
    p
      strong Adres:
      | #{terras.address}
    p
      strong Zon-intensiteit:
      | 
      a(href=`/api/sun/terras/${terras._id}`) #{terras.intensity}% Bekijk details 
    if terras.url
      p
        strong Site:
        a(href=terras.url target="_blank") Bezoek website

  if terras.location && terras.location.coordinates
    section.geo
      h3 Locatiegegevens
      p Coordinaten: [#{terras.location.coordinates[0]}, #{terras.location.coordinates[1]}]
      p: a(href=`/api/search/nearby/${terras.location.coordinates[1]}/${terras.location.coordinates[0]}/1`) In de buurt

  if links && links.length
    hr
    nav
      ul
        each link in links
          li: a(href=link.href)= link.rel
