doctype html
html
  head
    title= terras.name
    link(rel="stylesheet", href="/style.css")
  body
    h1= terras.name
    
    if terras.description
      p.description= terras.description

    section.info
      p 
        strong Adres: 
        | #{terras.address}
      p 
        strong Zon-intensiteit: 
        | #{terras.intensity}%
      if terras.url
        p 
          strong Site: 
          a(href=terras.url target="_blank") Bezoek website
    
    section.geo
      h3 Locatiegegevens:
      p Coördinaten: [#{terras.location.coordinates[0]}, #{terras.location.coordinates[1]}]
      
    hr
    nav
      ul
        each link in links
          li: a(href=link.href)= link.rel