extends ../layout

block content
  h2 Terrassen in Gent
  p Totaal gevonden: #{count}

  ul.terras-list
    each terras in terrassen
      li.terras-card
        strong= terras.name
        p Locatie: #{terras.address}
        p.sun-score Zon-intensiteit: #{terras.intensity}%
        a(href=`/api/terrassen/${terras._id}`) Bekijk details

  if links && links.length
    hr
    nav
      ul
        each link in links
          li: a(href=link.href)= link.rel
